.header{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(108, 108, 112, 1) 66%, rgba(149, 148, 148, 1) 100%);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 8px;
}
.logo {
    width: 64px;
}

.lista {
    display: none;
}

.lista_item {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

.lista_item_link {
    text-decoration: none;
}
.carrinho{
    display: none;
}

@media screen and (min-width:1024px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
    .lista{
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .lista_item{
        width: 150px;
    }
    .carrinho {
        display: flex;
        size: 100px;
    }
}